<!-- <h2 *ngIf="displayName; else elseBlock">
    hello world
</h2>

<ng-template #elseBlock>
    <h2>
        Name is hidden
    </h2>
</ng-template> -->

<div *ngIf="displayName; then thenBlock; else elseBlock">

</div>

<ng-template #thenBlock>
    <h2>Toaha Bhuiyan</h2>
</ng-template>
<ng-template #elseBlock>
    <h2>Hidden</h2>
</ng-template>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You Picked red color</div>
    <div *ngSwitchCase="'blue'">You Picked blue color</div>
    <div *ngSwitchCase="'green'">You Picked green color</div>
    <div *ngSwitchDefault>Pick again</div>
</div>

<div *ngFor="let color of colors; index as i; first as f; last as l; odd as o">
    <h2> {{o}} {{f}} {{l}} {{i}} {{color}}</h2>
</div>